{% extends 'base.html' %}
{% load static %}

{% block title %}About{% endblock title %}

{% block content %}
    <h1>Little about Me</h1>
    <p>Dustin Jensen is a junior software developer who wants to change the world. He's passionate about developing innovative solutions that make people's lives easier. Dustin is always looking for new ways to improve his skills and contribute to his team. He is determined to make a difference in the world and make everyone's lives a little bit better.

    </p>
    <img class='about-img' src="{% static 'img/aboutme.jpeg' %}"
{% endblock content %}